{% extends 'bases/adminbase.html' %}
{% load static %}
{% block content %}
<div class="card shadow-lg mx-4 card-profile-bottom">
    <div class="card-body p-3">
        <div class="row gx-4">
            {% if msg %}
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{msg}}
                    </h5>
                    
                </div>
            </div>
            {% else %}
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        Create User
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        Fill out all the Text fields for creating the User!
                    </p>
                </div>
            </div>
            {% endif %}


        </div>
    </div>
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Create User</p>

                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <p class="text-uppercase text-sm">User Information</p>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">First name</label>
                                    <input class="form-control" name="fname" placeholder="eg : John" type="text" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Last name</label>
                                    <input class="form-control" name="lname" placeholder="eg : Doe"  type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Username</label>
                                    <input class="form-control" name="username" placeholder="eg : John_doe"
                                        type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Email address</label>
                                    <input class="form-control" name="email" placeholder="eg : johndoe@example.com"  type="email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Password</label>
                                    <input class="form-control" name="password" type="password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Confirm password</label>
                                    <input class="form-control" name="cpassword"  type="text">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm ms-auto">Update</button>
                        </form>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}