{% extends 'bases/userbase.html' %}
{% load static %}
{% block content %}

<!-- slider section -->
<section class="slider_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <div class="detail-box" id="head">
                    <h1>
                        <span> UniStay</span> <br>
                    </h1>
                    {% if user.is_authenticated %}
                    <h2>Welcome
                        {{ user.first_name}}! </h2>
                    {% else %}
                    <h4>CHRIST Lavasa <br>
                        Accomodation Management </h4>
                    {% endif %}

                    <p>
                        Find the perfect student-friendly rental – where convenience meets comfort on your academic
                        journey."
                    </p>
                    <!-- <div class="btn-box">
                        <a href="{% url 'user_login' %}" class="">
                            Read More
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
</div>

<section class="about_section layout_padding-bottom" style = "padding-top: 20px;">
    <div class="detail-box">
        <div class="heading_container" align="center" style = "color: #0c0d12; margin-top:1%">
          <h2>
              {{ street.Street_name }}
          </h2>
        </div>
    <div class="square-box">
      <img src="{% static 'users/images/square.png' %}" alt="">
    </div>
    {% if house %}
        {% for i in house %}
    <div class="container" id="about" style = "border: 2px solid #000; padding: 20px; margin-top: 2%; margin-bottom: 2%;">
    
      <div class="row">
        <div class="col-md-4">
            <img src="{{ i.hs_image_1.url }}" alt="" style="height:100%; width:100%;">
        </div>
        <div class="col-md-4">
              <img src="{{ i.hs_image_2.url }}" alt="" style="height:100%; width:100%;">
          </div>
        <div class="col-md-4">
          <div class="detail-box">
            <p>
             <b>House No: </b>{{ i.hs_number }}<br>
             <b>Address:</b>{{ i.hs_number }} {{ i.street.Street_name }} , {{ i.hs_city }} , {{ i.hs_state }} , <br> {{ i.hs_pin }}<br>
             <b>BHK:</b> {{ i.hs_bhk }}<br>
             <b>Rent:</b> ${{ i.hs_rent }}<br>
                <b>Description:</b> {{ i.hs_desc|safe }}<br>
                 <b>House Owner:</b> {{ i.hs_owner.first_name }} {{ i.hs_owner.last_name }}<br>
            </p>
              {% if user_req %}
                  {% for i in user_req %}
              <a href="{% url 'delete_request' req_id=i.id %}" onclick="alert('Are you sure you want to cancel the request?')" class="">
                  Cancel your request
            </a>
                  {% endfor %}
              {% else %}
            <a href="{% url 'user_request' user_id=request.user.id h_id=i.id %}" onclick="alert('Are you sure you want to send a request?')" class="">
              Send Request
            </a>
              {% endif %}
          </div>
        </div>
      </div>
      </div>
        {% endfor %}
    {% else %}
        <div class="container" id="about" style = "border: 2px solid #000; padding: 20px; margin-top: 2%; margin-bottom: 2%;">
            <center><h1>No house to display!</h1></center>
        </div>
    {% endif %}
    </div>

{#    <div class="container" id="about" style= "border: 2px solid #000; padding: 20px; margin-top: 2%; margin-bottom: 2%;">#}
{#        <div class="row">#}
{#          <div class="col-md-4">#}
{#              <img src="{% static 'users/images/cel2.jpeg' %}" alt="" style="height:100%; width:100%;">#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <img src="{% static 'users/images/celbath2.webp' %}" alt="" style="height:100%; width:100%;">#}
{#        </div>#}
{#          <div class="col-md-4">#}
{#            <div class="detail-box">#}
{#              <p>#}
{#               <b>House No:</b><br>#}
{#               <b>Address:</b><br>#}
{#               <b>BHK:</b><br>#}
{#               <b>Rent:</b><br>#}
{#              </p>#}
{#              <a href="{% url 'user_login' %}" class="">#}
{#                Send Request#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
  </section>

{% endblock content %}