{% extends 'bases/staffbase.html' %}
{% load static %}
{% block content %}
<div class="card shadow-lg mx-4 card-profile-bottom">
    <div class="card-body p-3">
        <div class="row gx-4">
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{ request.user.first_name }} {{request.user.last_name}}
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        House Owner
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">

                </div>
                <div class="card-body">
                    <p class="text-uppercase text-sm">Staff Information</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Username</label>
                                <input class="form-control" type="text" disabled value="{{request.user.username}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Email address</label>
                                <input class="form-control" type="email" disabled value="{{request.user.email}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">First name</label>
                                <input class="form-control" type="text" disabled value="{{request.user.first_name}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Last name</label>
                                <input class="form-control" type="text" disabled value="{{request.user.last_name}}">
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <p class="text-uppercase text-sm">Contact Information</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="user_id" value="{{request.user.id}}" hidden>
                                    <input class="form-control" type="text" name="email" value="{{request.user.email}}" hidden>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Landmark/House no</label>
                                    <input class="form-control"   type="text"
                                        name="staff_land_mark" placeholder="eg: Example House">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Locality</label>
                                    <input class="form-control"  type="text"
                                        name="staff_locality" placeholder="eg: Thicket Street">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">City</label>
                                    <input class="form-control"  type="text"
                                        name="staff_city" placeholder="eg: Lavasa">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">State</label>
                                    <input class="form-control"  type="text"
                                        name="staff_state" placeholder="eg: Maharastra">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Country</label>
                                    <input class="form-control"  type="text"
                                        name="staff_country" placeholder="eg: India">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Postal code</label>
                                    <input class="form-control"  type="text"
                                        name="staff_pin" placeholder="eg: 897605">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Phone Number</label>
                                    <input class="form-control"  type="text"
                                        name="staff_phone" placeholder="9012345677">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Date of Birth</label>
                                    <input class="form-control"  name="staff_dob"
                                        type="date">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Staff Image</label>
                                    <input class="form-control"  name="staff_img" required
                                        type="file">
                                </div>
                            </div>
                        </div>

                    </div>
                    <center><button type="submit" class="btn btn-primary btn-sm ms-auto">Create</button></center>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}